.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: white;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right img {
  height: 40px;
  border-radius: 50%;
  margin: 0 20px;
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.3s;
}

.header-right img:hover {
  height: 45px;
}

.header-left {
  transition: all 0.4s;
}

.header-left-open {
  margin-left: 320px;
}

.header-left-closed {
  margin-left: 80px;
}

.header-left img {
  height: 40px;
  margin: 0 40px;
}

.header-left .MuiSvgIcon-root {
  cursor: pointer;
}
